@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Start from outside the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

.element {
  animation: fadeInFromRight 1s ease-out forwards;
}

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: fadeInFromRight 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;


&:hover {

animation: rubberBand 1s;
color: #ffd700;

}
}


@for $i from 1 through 35 {
 .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
    }   


}